In [13]:
# Import The Libraries
# ! pip install xlrd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import The Dataset
df = pd.read_excel('OnlineRetailDataset.xlsx')
df = df[df['CustomerID'].notna()]
# Sample the dataset
df_fix = df.sample(500, random_state=20)

In [14]:
df_fix.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
380896,569843,21034,REX CASH+CARRY JUMBO SHOPPER,1,2011-10-06 13:29:00,0.95,14449.0,United Kingdom
64508,541631,21507,"ELEPHANT, BIRTHDAY CARD,",12,2011-01-20 10:48:00,0.42,12637.0,France
365434,568708,20728,LUNCH BAG CARS BLUE,20,2011-09-28 15:41:00,1.65,12393.0,Australia
168943,551152,17003,BROCADE RING PURSE,14,2011-04-26 14:47:00,0.29,13230.0,United Kingdom
475420,576889,21866,UNION JACK FLAG LUGGAGE TAG,2,2011-11-16 17:24:00,1.25,12748.0,United Kingdom

In [18]:
# Convert to show date only
from datetime import datetime
df_fix["InvoiceDate"] = pd.to_datetime(df['InvoiceDate'], errors='coerce')

# Create TotalSum colummn
df_fix["TotalSum"] = df_fix["Quantity"] * df_fix["UnitPrice"]

# Create date variable that records recency
import datetime
snapshot_date = max(df_fix.InvoiceDate) + datetime.timedelta(days=1)

# Aggregate data by each customer
customers = df_fix.groupby(['CustomerID']).agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'InvoiceNo': 'count',
    'TotalSum': 'sum'})

# Rename columns
customers.rename(columns = {'InvoiceDate': 'Recency',
                            'InvoiceNo': 'Frequency',
                            'TotalSum': 'MonetaryValue'}, inplace=True)
customers.head()

            Recency  Frequency  MonetaryValue
CustomerID
12359.0         304          1           10.2
12364.0           6          1           10.2
12388.0         147          1           15.6
12393.0          71          1           33.0
12415.0         176          1           61.2